version: "2"

services:
    node:
        build: docker
        image: aalbuquerque/node
        entrypoint: bash
        command: ""
        volumes:
            - ./.git:/home/app/.git
            - ./gears/:/home/app/gears/
            - ./dist/:/home/app/dist/
            - ./gulpfile.js:/home/app/gulpfile.babel.js
            - ./html:/home/app/html
            - ./package.json:/home/app/package2.json
            - ./.babelrc:/home/app/.babelrc
            - ./.eslintrc.js:/home/app/.eslintrc.js
            - modules:/home/app/node_modules

volumes:
    modules: